<h1>Users Show</h1>
<p>__________________________________________________</p>
      <% @tweets.each do |tweet| %>
          <div class="content">
             <%= tweet.content %>
          </div>
            <% end %>